<div class = "container">
  <h1>Welcome, <%= @username %></h1>
  <%= link_to 'Update Username', update_username_path %> <br>
  <h1>Repos</h1>
  <!-- List repositories here! -->

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>
</div>