<div class="container">
  <h1>Welcome, <%= session[:username] %> </h1>
  <h1>Repos</h1>

  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
      <div class="list-group">
        <% @body.each do |repo| %>
          <%= link_to repo['name'], repo['html_url'], class: 'list-group-item' %>
        <% end %>
      </div>
    </div>
  </div>

  <%= form_tag("/repositories/create", method: "post") do %>
    <%= label_tag(:name, "Create a New Repo:") %>
    <%= text_field_tag(:name, nil, id: "new-repo") %>
    <%= submit_tag("Create") %>
  <% end %>

  <h4>
    <%= flash[:message] if flash[:message] %>
  </h4>
</div>